<mat-card class="video-detail-card">
  <div class="video-detail-header">
    <h2>{{ selectedItem?.snippet?.title }}</h2>
    <span class="video-detail-date">{{
      selectedItem?.snippet?.publishedAt | date : "fullDate"
    }}</span>
  </div>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" (click)="goBack()">Back</button>
  </mat-card-actions>
  <img
    mat-card-image
    class="video-detail-image"
    src="{{ selectedItem?.snippet?.thumbnails?.maxres?.url }}"
    alt="{{ selectedItem?.snippet?.title }}"
  />

  <mat-card-content>
    <p class="video-detail-description">
      {{ selectedItem?.snippet?.description | slice : 0 : 200 }}...
    </p>
    <div class="video-statistics">
      <div class="stat-item">
        <mat-icon>visibility</mat-icon>
        <span>{{ selectedItem?.statistics?.viewCount | number }}</span>
      </div>
      <div class="stat-item">
        <mat-icon>thumb_up</mat-icon>
        <span>{{ selectedItem?.statistics?.likeCount | number }}</span>
      </div>
      <div class="stat-item">
        <mat-icon>thumb_down</mat-icon>
        <span>{{ selectedItem?.statistics?.dislikeCount | number }}</span>
      </div>
      <div class="stat-item">
        <mat-icon>comment</mat-icon>
        <span>{{ selectedItem?.statistics?.commentCount | number }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
