.name-field {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: smaller;
  color: #5e3a80;
}

h1 {
  font-size: larger;
}


.dialog-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: larger;
  color: #6558ac;
}