.error-card {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.error-icon {
  color: #ef5350; 
  font-size: 48px;
  vertical-align: middle;
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 50px;
  width: 48px;
  overflow: hidden;
}
mat-card-title {
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-card-content {
  font-size: 16px;
  margin-bottom: 20px;
}

mat-card-actions {
  justify-content: center; 
}

button {
  margin-top: 10px; 
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    flex-direction: column;
}
