@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, A400);
$accent: mat.define-palette(mat.$green-palette, 600);
$warn: mat.define-palette(mat.$red-palette, 400);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

// Include all component themes for the light theme
@include mat.all-component-themes($light-theme);

// Apply dark theme styles when .dark-theme class is added to the container (usually the body)
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

// Custom styles for your application
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-theme {
  background-color: #121212!important; 
  color: #ffffff; 

  // Custom dark theme styles for other elements
  .header {
    background-color: #1e1e1e; 
  }

  .message-content {
    color: #d8d8d8; // Override for message content color in dark mode
  }
  // Add additional custom styles for dark theme
}
