html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body.dark-theme {
  background-color: #121212!important; 
  color: #ffffff; 

  .header {
    background-color: #1e1e1e; 
  }

}
