.video-detail-card {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  color: #333;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  margin-top: 16px; 
  margin-bottom: 16px; 
}

.video-detail-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.video-detail-date {
  color: #666;
  font-size: 0.9em;
}

.mdc-card__media {
    width: 76%;
}

.mat-card-image {
  width: 100%; 
  height: auto; 
  background-color: #000;
}

.video-detail-description {
  padding: 16px;
  font-size: 1.2em;
  color: #333;
  width: 100%;
  font-weight: bold;
  
}

.video-statistics {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  width: 100%;
}

.stat-item {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.stat-item mat-icon {
  margin-right: 8px;
  color: #666;
}

.stat-item span {
  color: #333;
}

@media (max-width: 600px) {
  .video-detail-card {
    padding: 0;
  }
  
  .video-detail-header, .video-detail-description, .video-statistics {
    padding: 10px;
  }

  .mat-card-image {
    width: 40%; 
  }
}
