mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-card {
  padding: 24px;
  max-width: 400px;
  margin: 40px auto; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

button {
  display: block;
  width: 100%; 
  margin-top: 20px; 
}

form {
  display: flex;
  flex-direction: column; 
}
