.centered-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: rgb(166, 186, 186);
}

.form-header {
  color: #a82323;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.centered-form {
  width: 100%;
  max-width: 500px;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    max-width: 500px;
    min-height: 50px;
  }
}
