.chat-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.messages-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  max-height: 100vh;
}

.message-box {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.own-message {
  text-align: right;
  background-color: #dcf8c6; /* Light green background for own messages */
}

.other-message {
  text-align: left;
}

.message-date, .message-author {
  font-size: 0.8em;
  color: #666;
}

.message-content {
  margin-top: 5px;
}

.message-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.message-input input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.message-input button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.message-input button:disabled {
  background-color: #cccccc; /* Gray background for disabled button */
  color: #666666; /* Darker text color for disabled button */
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

.message-input button:hover {
  background-color: #45a049;
}

.message-input button:disabled {
  background-color: #cccccc;
}

/* General Button Styles */
button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Update Button Styles */
button.update-button {
  background-color: #4caf50; /* Green background */
  color: white;
}

button.update-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Delete Button Styles */
button.delete-button {
  background-color: #f44336; /* Red background */
  color: white;
}

button.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  /* other styles for disabled state */
}