/* General page styles */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid #828282;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  max-height: 100vh;
}

.message-box {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.own-message .message-box {
  background-color: #d7dbf3;
}

.own-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.message-date,
.message-author {
  font-size: 0.8em;
  color: #666;
}

.message-content {
  margin-top: 5px;
}

.message-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.message-input input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.message-input button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.message-input button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.message-input button:hover {
  background-color: #45a049;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

.back-link {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

.back-link:hover {
  color: #45a049;
}

.last-updated {
  font-size: 0.9em;
  color: #666;
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.update-button {
  background-color: #4caf50;
  color: white;
}

button.update-button:hover {
  background-color: #45a049;
}

button.delete-button {
  background-color: #f44336;
  color: white;
}

button.delete-button:hover {
  background-color: #d32f2f;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.update-number {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1a73e8;
  margin-left: 10px;
}

// Dark theme styles
:host-context(.dark-theme) {
  .chat-container {
    background-color: #121212;
    color: #414141; 
  }

  .message-box {
    background-color: #333;
  }

  .own-message .message-box {
    background-color: #454f5b;
  }

  .top-controls {
    background-color: #1e1e1e;
    border-color: #121212;
  }

  .messages-area {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #3d3d3d;
    max-height: 100vh;
  }

  .message-date,
  .message-author {
    font-size: 0.8em;
    color: #c8c8c8;
  }

  .message-input {
    display: flex;
    border-top: 1px solid #c1c1c1;
    padding: 10px;
  }

  .message-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #454f5b;
    border: 1px solid #8d8d8d;
  }

  .form {
    color: #d8d8d8;
  }

  .last-updated {
    font-size: 0.9em;
    color: #bebebe;
  }

}
