mat-toolbar {
  display: flex;
  justify-content: center; /* Align items in the center */
  align-items: center;
}

.toolbar-title {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

.toolbar-spacer {
  flex: 1;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.2);
}
.header {
  background-color: #3c3978;
  color: white;

  a {
    color: white;
  }

  .active-link {
    border-bottom: 2px solid rgb(228, 11, 11); /* Active link styling */
  }
}
