<mat-toolbar class="header" color="primary">
  <span class="toolbar-spacer"></span>
  <span class="toolbar-title">CONNECTIONS</span>
  <span class="toolbar-spacer"></span>
  <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Main</a>
  <a mat-button routerLink="/profile" routerLinkActive="active-link">Profile</a>
   <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ themeIcon }}</mat-icon>
  </button>
</mat-toolbar>
