<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input
        matInput
        placeholder="Username"
        formControlName="username"
        maxlength="33"
      />
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        Please enter a login email
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('email')">
        The login email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        maxlength="20"
      />
       <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
        >Please enter a password</mat-error
      >
      <mat-error *ngIf="loginForm.get('password')?.hasError('passwordStrength')"
        >Your password isn't strong enough...</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
