.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10%;
  padding-top:8px;

  .logo-icon {
    position: relative;
    font-size: 45px;
    width: 45px;
    height: 40px;
    top: 5px;
  }

  form {
    margin: 0 auto;
    width: 50%;
    max-width: 1200px;
    padding: 0px 20px;

  }

  .search-input {
    width: 100%;
    max-width: 100%;
  }

  .login-info-block {
    display: flex;
    align-items: center;

    .username {
      margin-right: 8px;
    }
  }

  @media (max-width: 768px) {
    .search-input {
      max-width: 90%;
    }
  }
}
.filtering-criteria-block {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10px;              
    padding: 5px;          
    background-color: #f5f5f5;  
    border-radius: 5px;     
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  
    margin: 0px 0;         
}

.filter-btn {
    padding: 8px 15px;      
    border: none;
    border-radius: 5px;      
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;        
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.filter-input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
}

