.centered-title {
  text-align: center;
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.left-button {
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
}

.right-button {
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
}
