.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: flex-start; /* Align content to the top */
  margin-top: 20px;
}

.left-side,
.right-side {
  flex: 1;
  flex-basis: 50%;
  padding: 10px;
  height: 100%;
  text-align: center;
}

.right-side {
  border-left: 1px solid #ccc;
}

.top-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 10px 0;
  margin-bottom: 10px;
}

.scrollable-content {
  overflow-y: auto;
  height: 70%;
  cursor: pointer;
}

.update-div {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.group-content {
  cursor: pointer;
}

.highlighted {
  background-color: #acd6d2;
}

.highlighted:hover {
  background-color: #7da5c0;
}

li {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: larger;
  color: #6558ac;
  text-transform: uppercase;
  position: relative;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.05s, box-shadow 0.3s;
}

li:hover {
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.delete-btn {
  font-size: small;
  color: white;
  background-color: #3a9ac7; /* Material red */
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #913780;
}

button {
  background-color: #8c85ab;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6790bc;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #424242;
  margin-bottom: 15px;
}

/* Styling for the update number */
.update-number {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1a73e8;
  margin-left: 10px;
}

// main.component.scss

// Styles for light theme (default)
:host-context(.light-theme) {
  .container {
    background-color: #fff; // Light background color
    color: #000; // Light text color
  }

  // Add more light theme styles here
  .top-buttons-div {
    background-color: #f0f0f0;
  }

  li {
    background-color: #f0f0f0;
  }
}

// Styles for dark theme
:host-context(.dark-theme) {
  .container {
    background-color: #121212; // Dark background color
    color: #fff; // Dark text color
  }

  // Add more dark theme styles here
  .top-buttons-div {
    background-color: #333;
  }

  li {
    background-color: #444;
    color: #d8ce73;
  }

  .highlighted {
    background-color: #676666;
  }

  .highlighted:hover {
    background-color: #c2ad81;
  }

  .group-content {
    cursor: pointer;
    color: #d8ce73;
  }
  button {
    background-color: #a08166;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #c3ab69;
    margin-bottom: 15px;
  }
}
