<div class="container">
  <!-- Left Side -->
  <div class="left-side">
    <!-- Your existing list for groups and other content -->
    <div class="top-buttons-div">
        <div class="top-block"></div>
      <div class="update-div">
        <button
          (click)="updateGroups()"
          [disabled]="(countdownGroupUpdate$ | async)! > 0 || (loadingGroups$ | async)"
          class="update"
        >
          Update group list
        </button>
        <div *ngIf="countdownGroupUpdate$ | async as countdown">
          <span *ngIf="countdown > 0"
            >Next update in: {{ countdown / 1000 | number : "1.0-0" }}</span
          >
        </div>
      </div>
      <button (click)="openSaveDialog()">Create</button>
      
    </div>
<div *ngIf="loadingGroups$ | async">Processing...</div>
    

    <div class="scrollable-content">
      <ul *ngIf="groups$ | async as groups">
        <li *ngFor="let group of groups">
          {{ group.name.S }}
          <button
            class="delete-btn"
            *ngIf="group.createdBy?.S === currentUserUid"
            [disabled]="loadingGroups$ | async"
            (click)="openDeleteDialog(group.id.S)"
          >
            x
          </button>
        </li>
      </ul>

      <div *ngIf="lastUpdateTimestamp$ | async as lastUpdate">
        Last Update: {{ lastUpdate | date : "medium" }}
      </div>
    </div>
  </div>
  <!-- Right Side -->
  <div class="right-side">
    <!-- Placeholder content for the right side -->
     <button
          (click)="updateUsers()"
          class="update"
        >
          Update user list
        </button>
    <!-- Add more content here as needed -->
  </div>
</div>
