<mat-card appVideoAgeBorder [publishedAt]="item.snippet.publishedAt">
  <img mat-card-image [src]="item.snippet.thumbnails.medium.url" alt="Thumbnail">
  <mat-card-content>
    <div class="statistics">
      <div class="stat-item">
        <mat-icon>visibility</mat-icon> {{ item.statistics?.viewCount }}
      </div>
      <div class="stat-item">
        <mat-icon>thumb_up</mat-icon> {{ item.statistics?.likeCount }}
      </div>
      <div class="stat-item">
        <mat-icon>thumb_down</mat-icon>
      </div>
      <div class="stat-item">
        <mat-icon>comment</mat-icon> {{ item.statistics?.commentCount }}
      </div>
    </div>
  </mat-card-content>

  <mat-card-title>{{ item.snippet.title }}</mat-card-title>

  <button mat-icon-button (click)="toggleFavorite(item.id.videoId)" class="favorite-button">
    <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
  </button>

  <mat-card-actions>
    <app-custom-button (click)="onMoreButtonClick()">More</app-custom-button>
  </mat-card-actions>
</mat-card>
