.profile-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-label {
  font-weight: bold;
  margin-right: 10px;
  width: 150px; /* Adjust the width as needed */
}

.profile-value {
  flex-grow: 1;
}

.profile-name-editable {
  display: flex;
  align-items: center;
}

.mat-card-content {
  padding-bottom: 0; /* Removes extra padding inside mat-card-content */
}

.mat-card-actions {
  padding-top: 0; /* Removes extra padding above mat-card-actions */
}

.error-message {
  color: red;
  margin-top: 20px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    justify-content: center;
}

.profile-name-editable[_ngcontent-ng-c3898012477] {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 30px;
}

.profile-name-editable[_ngcontent-ng-c2230522847] {
    display: flex;
    align-items: center;
    column-gap: 20px;
}